body {
  background-color: rgb(126, 182, 163);
}
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px ;
    border-radius: 4px;
    background-color: white;
  }
  
  .form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  label {
    display: block;
    flex: 1 ;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  input[type="email"] {
    width: 90%;
    padding: 10px;
    border: 1px solid rgb(94, 159, 179);
    border-radius: 3px;
    margin-bottom: 15px;
  }
  input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid rgb(94, 159, 179);
    border-radius: 3px;
  }
  input[type="radio"] {
    width: auto;
    margin-right: 10px;
    margin-bottom:5px;
  }
  label [for="queryType"] {
    display: block;
    flex: 1 ;
    margin-bottom: 30px;
    padding: 10px;

  }

  label[for="generalEnquiry"], label[for="supportRequest"] {
    display: inline-block;
    padding: 5px;
    border: 1px solid rgb(94, 159, 179); 
    border-radius: 3px; 
    margin-right: 3px; 
  }
  .form-group3 {
      display: flex;
      align-items: center;
      padding: 5px;
      width: 100%;
    }
    .form-group3 label {
      flex: 1; 
      display: flex;
      align-items: center;
      justify-content: center; 
      padding: 5px;
    }
    .form-group4 textarea {
      display: block;
      align-items: center;
      padding: 5px;
      width: 100%;
      border: 1px solid rgb(94, 159, 179); 
      border-radius: 3px; 
      margin-bottom: 20px;
    }
    label input[type="checkbox"] {
      display: flex;
      align-items: center;
      margin-right: 5px;
    }
    label[for="consent"] {
      margin-left: 40px;
    }
      
    
    button {
      display: block;
      width: 100%;
      align-self: center;
      padding: 10px;
      background-color: rgb(66, 165, 132);
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
    
  









  

  
